:root { 
  --black: #000000;
  --licorice: #13100d80;
  --merino: #f3efe5;
  --merino-2: #f3efe580;
 
  --font-size-l: 50px;
  --font-size-m: 20px;
  --font-size-s: 16px;
 
  --font-family-roboto: "Roboto", Helvetica;
}
