.details-page-wrapper {
    margin-inline: auto;
    max-width: 65vw;
    font-family: 'Roboto-Regular';
    color: #fff;
    background:rgba(19, 16, 13, 0.9);
}

.title {
    text-align: center;
    font-size: 25px;
    line-height: 1;
}

.image {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    margin-block: 1em;
}

.desc {
    margin-bottom: 1.5em;
}

.star-icon-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.featured-col {
    display: flex;
    flex-direction: column;
    flex: 0;
}

.bottom-desc-main-grid {
    gap: 10px;
}
.bottom-desc-row-1 {
    margin-bottom: 1em;
}

.overview-title {
    font-size: 1.5em;
}
.more-icon-grid-item {
    width: fit-content;
    max-width: fit-content;
}

.more-icon {
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
}

.line-height-1dot5 {
    line-height: 1.5;
}

.bottom-grid,
.video-title-grid ,
.video-desc,
.three-d-model-title-grid ,
.three-d-model-desc,
.threeD-model-wrapper {
    margin-bottom: 1em;
}

.video-title ,
.three-d-model-title {
    font-size: 25px;
    line-height: 1.2;
}

.bottom-grid p {
    opacity: 0.5;
    margin-bottom: 0.4em;
}

.bottom-grid > div {
    line-height: 1.2;
}

.video-info-grid ,
.three-d-model-info-grid {
    display: flex;
    align-items: center;
    gap: 4px;
}

.arrow-icon {
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 0.3em 0.4em;
    width: fit-content;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.img-wrapper {
    position: relative;
}

.arrow-prev {
    left: -12%;
}
.arrow-next {
    right: -12%;
}
.map-image{
    width: 100%;
    aspect-ratio: 1/1;
}
.map-loctn-details {
    margin-block: 0.5em;
    gap: 0.5em;
}
.map-loctn-line {
    gap: 0.5em;
}

@media (min-width: 575px) and (max-width: 1025px) {
    .bottom-desc-main-grid ,
    .bottom-desc-main-grid div{
        font-size: 14px;
    }
    
    .map-loctn-line {
        gap: 0.2em;
    }
}