.card-container {
    cursor: pointer;
}
.left-grid-box {
    position: relative;
}
.left-grid-container {
    gap: 2%;
    height: 100vh;
    overflow-y: scroll;
    justify-content: start;
}
.card-grid {
    justify-content: center;
    font-family: 'Roboto-Regular';
    position: relative;
    padding-inline: 0em;
}
.card-item {
    padding-left: 0 !important;
    flex-basis: 32% !important;
    max-width: 32% !important;
}
.card-checkbox {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.content ,
.content.MuiGrid-root {
    text-align: left;
    display: flex;
    flex-direction: column !important;

    padding: 0;
    justify-content: space-between;
    position: relative;
    gap: 0.5em;
}

.card-title {
    font-size: clamp(16px, 1.4vw, 26px);
    line-height: 1;
    font-weight: 500;
    max-width: 96%;
    margin-left: 0;
}

.card-subtitle {
    font-size: clamp(10px, 1.1vw, 18px);
    line-height: 1;
    font-weight: 400;
}

.card-date {
    font-size: clamp(10px, 1vw, 15px);
    line-height: 1;
    font-weight: 400;
    color: var(--grey-text);
}

.card-image-wrapper {
    display: flex;
    aspect-ratio: 3/2;
    flex-direction: column;
}

.card-image {
    width: 100%;
    min-width: 15vw;
    min-height: 12vw;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.keyword-pill {
    border: 1px solid #79747E;
    border-radius: 0.5em;
    font-size: 16px;
    font-size: clamp(12px, 1.1vw, 14px);

    line-height: 1.2;
    width: fit-content;
    padding: 0.5px 10px;
    color: var(--pill-back-color);
}

.card-keywords {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.more-icon-span {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}


.video-card-parent,
.three-d-card-parent ,
div > :has(.video-card-parent),
div > :has(.three-d-card-parent) {
    width: 100%;
}

.video-card-parent,
.three-d-card-parent {
    height: 100%;

}

@media (min-width: 575px) and (max-width: 1025px) {
    .card-item {
        flex-basis: 49% !important;
        max-width: 49% !important;
        flex-grow: 1;
    }
    .left-grid-container {
        max-height: 77vh;
    }
    .card-grid {
        gap: 5px;
    }
    .card-image {
        min-width: 12vw;
        min-height: 10vw;
    }
    
}