.gallery-container {
    padding-inline: 1em;
    font-family: 'Roboto-Regular';
}
.image {
    width: 100%;
    aspect-ratio: 3/2;
}
.media-grid-item {
    flex-basis: 31vw !important;
    max-width: 31vw !important;
    cursor: pointer;
}
.media-grid {
    gap: 1em;
    justify-content: start;
}
.title-section {
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}
.title-section > div:nth-child(1){
    font-size: 30px;
}
.title-section > div:nth-child(2){
    color: var(--grey-text);
}
.media-grid-item-options-row {
    justify-content: space-between;
    align-items: center;
}
.star-icon-box {
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
@media (min-width: 575px) and (max-width: 1025px) {
    .media-grid-item {
        flex-basis: 46vw !important;
        max-width: 46vw !important;
    }
}