.header-container {
    background-color: #000;
    position: fixed;
    width: 100%;
    margin-bottom: 100px;
    z-index: var(--max-z-index);
}

.logo {
    width: 15vw;
    padding: 1em 2em;
    text-align: left;
}
.header-lhs-content {
    display: flex;
    justify-content: left;
    align-items: center;
}

@media (min-width: 575px) and (max-width: 1025px) {
    .logo {
        width: fit-content;
    }
    .header-search {
        width: 40ch;
    }
}