.header-container {
    background-color: #000;
    position: fixed;
    width: 100vw;
    margin-bottom: 100px;
    z-index: var(--max-z-index);
}

.logo {
    width: 15vw;
    padding: 1.5em 2em;
    text-align: left;
}