.refined-inputs-container {
    padding-bottom: 1em;
    display: flex;
    gap: 0.5em;
    padding-inline: 2em;
    flex-wrap: wrap;
    justify-content: start;
    font-family: 'Roboto-Regular';
    min-width: 98vw;
    --width-constant: 21ch;
}

.black-90-pct {
    color: var(--black-90-pct)
}
.refined-inputs-grid {
    gap: 0.5em;
    justify-content: start;
}
.input-field {
    max-width: var(--width-constant) !important;
    flex-basis: var(--width-constant) !important;
    flex-shrink: 0;
    border-color: var(--lightest-border);
    cursor: pointer;
}
.dropdown {
    border-radius: 0.3em !important;
}

.dropdown ,
.dropdown::placeholder {
    border: 0;
}

.extra-width {
    flex-grow: 1;
}

.date-grid-item {
    max-width: var(--width-constant) !important;

}

.location-grid-item {
    max-width: calc(2 *  var(--width-constant)) !important;
}

.date {
    border: 2px solid var(--lightest-border);
    padding: 0.5em 0.7em;
    border-radius: 0.3em;
    height: 100%;
    width: 100%;
}

.location-popup-container {
    position: relative;
    margin-top: 0.5em;
    border-radius: 10px;
    min-width: 30ch;
}

.location-popup-close {
    position: absolute;
    top: -15%;
    right: -3%;
    z-index: 33;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
@media (min-width: 575px) and (max-width: 1025px) {
    .input-field {
        --width-constant: 25ch;
    }
    .location-grid-item {
        min-width: 40vw !important;
    }
}