.detach-icon-component {
    cursor: pointer;
    background-color: var(--off-white-background-color);
}

.animator {
    animation: animator-motion 1s infinite;
    border-radius: 20px;
}

.animator.remove-motion {
    animation: none;
}


.detach-icon-component.disabled {
    animation: none;
    opacity: 0.5;
    cursor: not-allowed !important;
    pointer-events: none;
}
.detach-icon-component.disabled.remove-motion {
    opacity: unset;
    cursor: unset;
    pointer-events: unset;
}

@keyframes animator-motion {
    0% {
        box-shadow: 0 0 1px 1px gray;
    }
    50% {
    }
}