.map-img {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
}
.select-search {
    max-width: var(--width-constant) !important;
    flex-basis: var(--width-constant) !important;
    flex-shrink: 0;
    border-color: var(--lightest-border);
    cursor: pointer;
}

.result-section--grid {
    min-height: 100vh;
}
@media (min-width: 575px) and (max-width: 1025px) {
    .map-img {
        aspect-ratio: 1/2;
    }
}