.video-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.video-player-box {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}