body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Poppins'; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Poppins', Helvetica, Arial,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  min-height: 100% !important;
  height: 100% !important;
  overscroll-behavior: none !important;
}
html {
  height: 100% !important;
  overscroll-behavior: none !important;
}
#root {
  height: 100%;
  overscroll-behavior: none !important;
}
#notistack-snackbar {
  max-width: 300px;
}

.snackcloseIcon {
  width: 1em !important;
  height: 1em !important;
  cursor: pointer;
}
::placeholder {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #b1b1b1;
}
::-ms-clear {
  display: none;
}
.webCam {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.notificationAlert {
  font-size: 14px;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}
.swal2-styled.swal2-confirm {
  border-radius: 4px !important;
  background-color: #7066e0 !important;
  color: #fff !important;
  font-size: 14px !important;
  padding: 5px 10px !important;
}
.refined-inputs-container .react-datepicker__input-container {
  height: 100%;
  display: block;
}
.refined-inputs-container .react-datepicker-wrapper {
  width: fit-content;
  height: 100%;
}
