:root {
  --grey-text: rgba(19, 16, 13, 0.5);
  --focused-black-text: #49454F;
  --off-white-background-color: #f9f7f2;
  --user-table-border: #E7E7E7;
  --user-table-cell-hover-bg: #F3EFE5;
  --table-black-text: #13100D;
  --max-z-index: 99;
  --clr-gold: #EBC03F;
  --container-spacing: 2em;
  --light-grey-border: #D7D7D8;
  --pill-back-color: #49454F;
  --search-bar-bg-color: rgba(243, 239, 229, 0.5);
  --black-90-pct: rgba(19, 16, 13, 0.9);
  --lightest-border : #E8E9E9;
  --medium-gray: #787878;
}